@inherits LayoutComponentBase
@inject LocalizationService Loc

<PageTitle>FormsApp</PageTitle>

<div class="page">
    <main style="width:100%">
        <Header />
        <NavMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
